<h2> Welcome Weather Stalker! </h2> 

<%= link_to "Sign Up Here", signup_path %>

<br> 
<br> 
<%= link_to "Log In Here", login_path %>

<br> 
<br> 
<%= link_to "Log In with Google", '/auth/google_oauth2' %>